
*{
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(244, 241, 241);
    margin: 0;
    padding: 0;
    
    
  }
  h1{
    text-align: center;
    font-size: 2.1em;
    font-family: cursive, sans-serif;
  }
    .animated-kosgoda {
      animation-name:inherit;
      animation-duration: 2s; /* Duration of the animation */
      animation-timing-function:ease-in; /* Timing function (e.g., linear, ease-in, ease-out) */
      animation-delay: 0s; /* Delay before starting the animation */
      animation-iteration-count:infinite; /* Number of times the animation should repeat (infinite for continuous) */
      animation-direction:reverse; /* Direction of the animation (normal, reverse, alternate, alternate-reverse) */
    }
    
    
    
  
  h2{
    margin: 0.5em 0;
    text-align: left;
    font-family:cursive;
  }
  #flexing h2{
    text-align: left;
    
  }
  body{
    background-image: linear-gradient(to right, rgb(156, 163, 91) , rgb(52, 115, 152));
    background-size: cover;
    text-align: center;
   
    
  }
  p{
    padding: 3px;
    margin: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  header *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial Narrow, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
  }
  
  
  
  
  header{
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(24, 84, 92);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 7%;
    display:flex;
    align-items:center;
    justify-content:first baseline;
    z-index: 1000;
  }
  header .logo{
    width: 75px;
    height: 75px;
  }
  header .Navi ul{
    list-style: none;
  }
  header .Navi ul li{
    position: relative;
    float: left;
  }
  header .Navi ul li a{
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
    
  }
  header .Navi ul li a:hover{
    border-top: 2px solid rgb(57, 202, 215);
    color: rgb(57, 202, 215);
  
  }
  header .Navi ul li ul{
    position: absolute;
    left: 0;
    width: 150px;
    background: rgb(11, 87, 132);
    display: none ;
  }
  header .Navi ul li ul li {
    width: 100%;
    border-top: 1px solid #000;
  }
  header .Navi ul li:focus-within > ul,
  header .Navi ul li:hover > ul{
    display: initial;
  }
  #menu{
    display: none;
  }
  header label{
   font-size: 20px;
   color: white; 
   cursor: pointer;
   display: none;
  }
  section img {
    width: 100%;
    height: 500px;
    
    
  }
  
  
  #flexing img {
    width: 100%;
    height: 200px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .box{
    widows: 20%;
    width: 100%;
    margin: 1em;
    list-style-type: circle;
    
    
  }
  #maiin{
    text-align: center;
  }
  #flexing{
    display: flex;
    padding: 0;
    margin: 2em;
    justify-content: space-evenly;
    width: 100%;
  }
  #flexing ol{
    padding-left: 5px;
    margin: 0;
  }
  
  .navfo ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(37, 118, 176);
  }
  .navfo li{
    flex-grow: 1;
    width: calc(25% - .2em);
    color: white;
    padding-left: 40px;
  }
  .navfo ul li a{
    text-decoration: none;
    color: white;
    
  
  }
  .navfo {
    
    
    line-height: 50px;
    text-decoration: none;
    display: block;
    color:white;
  }
  .navfo li:nth-of-type(1)  {
    background-image: url(images/mail.png);
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position: left;
    
    
  }
  .navfo li:nth-last-of-type(2)  {
    background-image: url(images/facebook.jpg);
    background-size: 30px 35px;
    background-repeat: no-repeat;
    background-position: left;
  }
  .navfo li:nth-of-type(3)  {
    background-image: url(images/tele.png);
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position: left;
  }
  footer{
    padding: 1px;
    background-color: rgb(35, 84, 108);
    width: 100%;
    
    
  }
  #turtle img{
    float:left ;
    height: 300px;
    width: 50%;
  }
  #turtle iframe{
    height: 300px;
    width: 50%;
  }
  #turtle p{
    text-align: center;
  }
  #turtle table, th, td{
    border: 1px solid black;
  }
  #turtle table{
    width: 100%;
    border-collapse: collapse;
  }
  #turtle th{
    height: 50px;
  }
  #turtle td{
    height: 25px;
  }
  #turtle td img{
    width: 250px;
    height: 200px;
  }
  #mue iframe{
    float: left;
    width: 50%;
    height: 500px;
  }
  #mue img{
    width: 23%;
    height: 220px;
    padding-left: 5px;
  }
  
  #bypro img{
    float: left;
    width: 25%;
    height: 140px;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
  }
  #bypro h2{
    text-align: center;
  
  }
  #img7{
    float: left;
    width: 35%;
    max-height: 140px;
    padding: 0;
    margin: 0;
  }
  #local h2{
    text-align: center;
  }
  #local img{
    width: 350px;
    height: 200px;
    float: none;
  }
  .brand{
    width: 100%;
    margin: 1em;
    list-style-type: georgian;
  }
  #local{
    display: flex;
    padding: 0;
    margin: 2em;
    justify-content: space-evenly;
  }
    
  .button{
    background-color: rgb(63, 10, 106);
    border: 2px solid rgb(51, 13, 113);
    color: whitesmoke;
    padding: 3px 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration: none;
  }
  #donForm{
    background-color: rgb(39, 71, 127);
    text-align: center;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  #donForm input{
    width: 25em;
    height: 2.3em;
    box-shadow: 1.2em rgb(17, 17, 17);
    
  }
  #donForm div{
    padding-top: 0.6em;
  }
  #insub{
    border-radius: 0.5em;
    width: 14em;
    height: 4em;
    margin-top: 2em;
    
  }